.mid-layer-card {
  border: 1px solid var(--color-border);
  background: #191925;
  min-height: 200px;
  //padding: 50px 40px;
  border-radius: 5px;
  &.transparent-bg {
    background: transparent;
    border: 1px solid var(--color-border);
    margin-top: 140px;
    @media #{$smlg-device} {
      margin-top: 0px;
    }
  }
  &.widge-wrapper {
    .inner {
      margin-bottom: 0;
    }
  }
  .inner {
    margin-bottom: 0;
    h3 {
      font-weight: 400;
      margin-bottom: 15px;
      line-height: var(--h1);
    }
    p {
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
}

.nft-input-range {
  .slider-track-container {
    height: 4px;
    border-radius: 5px;
  }
  .slider-thumb {
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    border-radius: 50%;
    margin-top: -3px;
    //transition: right 0.3s ease-out, width 0.3s ease-out;
  }
}
